Import:

In [9]:
import pandas as pd
import numpy as np

Read original data from file and drop NAN

In [10]:
oriData = pd.read_csv(r'train.csv', index_col = 0)
oriData.dropna(inplace = True)
oriData = oriData.set_index("MSN")
# oriData = oriData.iloc[:,1:]
oriData.head(3)

,StateCode,Year,Amount,State,CO2 Emissions (Mmt),TotalNumberofInvestments,TotalAmountofAssistance
MSN,,,,,,,
BDFDB,KY,2015.0,4524.0,Kentucky,131.34297,129.0,315635700.0
BDPRP,KY,2015.0,833.0,Kentucky,131.34297,129.0,315635700.0
BFFDB,KY,2015.0,8246.0,Kentucky,131.34297,129.0,315635700.0

Change the data so that it shows for a given state and year, all other information including the MSNs, CO2 emission, invesment, assistance

First, setup dataframes

In [11]:
df = pd.DataFrame() #overall dataframe
state_df = pd.DataFrame() #state holder
co2_df = pd.DataFrame() #co2 holder
inves_df = pd.DataFrame() #invesment holder
assi_df = pd.DataFrame() #assistance
year_df = pd.DataFrame()

Then, locate each data by looping through state and time

In [12]:
for place in set(oriData['State']):
    state = {'State': place}

    for time in set(oriData['Year']):
        year = {'Year': time}
        co2 = {'CO2': oriData[(oriData['State']==place) & (oriData['Year']==time)]['CO2 Emissions (Mmt)'][0]} #?
        inves = {'Invesement': oriData[(oriData['State']==place) & (oriData['Year']==time)]['TotalNumberofInvestments'][0]}
        assi = {'Assistance': oriData[(oriData['State']==place) & (oriData['Year']==time)]['TotalAmountofAssistance'][0]}

        #Adding MSN 
        msns = oriData.loc[(oriData.State == place) & (oriData.Year == time)]
        
        msns1 = msns.transpose()
        
        msns2 = msns1.transpose()

        msns3 = msns2.loc[:,'Amount']
        # print(msns)

        #add all information to df
        df = pd.concat([df,msns3], axis = 1)
        

        state_df = state_df.append(state, ignore_index = True)
        co2_df = co2_df.append(co2, ignore_index = True)
        inves_df = inves_df.append(inves, ignore_index = True)
        assi_df = assi_df.append(assi, ignore_index = True)
        year_df = year_df.append(year, ignore_index = True)

# df to the same form
df = df.transpose()
df.index = [i for i in range(250)]
df
# df = df.transpose()
# # df.index = [i for i in range(250)]
# df.head(10)

,BDFDB,BDPRP,BFFDB,BFPRP,CLPRB,CLPRK,CLPRP,COPRK,EMFDB,ENPRP,...,REPRB,SOTCB,TEPRB,TETCB,WDEXB,WDPRB,WDTCB,WSTCB,WWPRB,WYTCB
0,3464.0,638.0,282138.0,49516.0,0.0,0.0,0.0,5.722,278674.0,48878.0,...,330919.0,90.0,441834.0,870370.0,0.0,2843.0,2843.0,1663.0,4506.0,35067.0
1,6295.0,1159.0,290063.0,50924.0,0.0,0.0,0.0,5.723,283769.0,49765.0,...,355970.0,220.0,440731.0,873303.0,0.0,2330.0,2330.0,1587.0,3917.0,46840.0
2,5916.0,1089.0,289782.0,50812.0,0.0,0.0,0.0,5.706,283866.0,49723.0,...,359674.0,373.0,430748.0,909065.0,0.0,3394.0,3394.0,1811.0,5205.0,50519.0
3,3159.0,581.0,288633.0,50698.0,0.0,0.0,0.0,5.698,285474.0,50117.0,...,371935.0,446.0,455818.0,907219.0,0.0,3699.0,3699.0,1796.0,5495.0,64215.0
4,126.0,23.0,266404.0,46669.0,0.0,0.0,0.0,5.717,266278.0,46646.0,...,317158.0,41.0,441057.0,857967.0,0.0,2958.0,2958.0,1203.0,4161.0,29639.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,4466.0,822.0,4466.0,822.0,14440.0,22.072,654.0,5.722,0.0,0.0,...,243569.0,115.0,4007728.0,1624919.0,0.0,22216.0,22216.0,7712.0,29928.0,185278.0
246,4644.0,855.0,4644.0,855.0,12590.0,22.428,561.0,5.723,0.0,0.0,...,274848.0,382.0,4173327.0,1647508.0,0.0,28016.0,28016.0,5606.0,33622.0,217416.0
247,4496.0,828.0,4496.0,828.0,15121.0,21.108,716.0,5.706,0.0,0.0,...,308589.0,691.0,4810343.0,1715294.0,0.0,30026.0,30026.0,5939.0,35965.0,248887.0
248,4115.0,757.0,4115.0,757.0,5153.0,22.665,227.0,5.698,0.0,0.0,...,332320.0,734.0,5111362.0,1684997.0,0.0,28447.0,28447.0,5924.0,34371.0,258317.0
249,3486.0,642.0,3486.0,642.0,17422.0,22.33,780.0,5.717,0.0,0.0,...,187199.0,71.0,4034174.0,1625556.0,0.0,22227.0,22227.0,5812.0,28038.0,130754.0

Add all dfs to one df

In [13]:
df = pd.concat([df, co2_df],axis=1)
# df = pd.concat([df, inves_df],axis=1)


df = pd.concat([df, state_df],axis=1)

df1 = df
df1.to_csv("stateRemain.csv")

df = pd.get_dummies(df, columns=['State'])
df = pd.concat([df, assi_df],axis=1)
df

,BDFDB,BDPRP,BFFDB,BFPRP,CLPRB,CLPRK,CLPRP,COPRK,EMFDB,ENPRP,...,State_Tennessee,State_Texas,State_Utah,State_Vermont,State_Virginia,State_Washington,State_West Virginia,State_Wisconsin,State_Wyoming,Assistance
0,3464.0,638.0,282138.0,49516.0,0.0,0.0,0.0,5.722,278674.0,48878.0,...,0,0,0,0,0,0,0,0,0,4011050.0
1,6295.0,1159.0,290063.0,50924.0,0.0,0.0,0.0,5.723,283769.0,49765.0,...,0,0,0,0,0,0,0,0,0,3743400.0
2,5916.0,1089.0,289782.0,50812.0,0.0,0.0,0.0,5.706,283866.0,49723.0,...,0,0,0,0,0,0,0,0,0,4330170.0
3,3159.0,581.0,288633.0,50698.0,0.0,0.0,0.0,5.698,285474.0,50117.0,...,0,0,0,0,0,0,0,0,0,2293019.0
4,126.0,23.0,266404.0,46669.0,0.0,0.0,0.0,5.717,266278.0,46646.0,...,0,0,0,0,0,0,0,0,0,3396859.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,4466.0,822.0,4466.0,822.0,14440.0,22.072,654.0,5.722,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1341097.0
246,4644.0,855.0,4644.0,855.0,12590.0,22.428,561.0,5.723,0.0,0.0,...,0,0,0,0,0,0,0,0,0,2449186.0
247,4496.0,828.0,4496.0,828.0,15121.0,21.108,716.0,5.706,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1495639.0
248,4115.0,757.0,4115.0,757.0,5153.0,22.665,227.0,5.698,0.0,0.0,...,0,0,0,0,0,0,0,0,0,645165.0
249,3486.0,642.0,3486.0,642.0,17422.0,22.33,780.0,5.717,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1677872.0

Store

In [14]:
df.to_csv('sortedData.csv')