In [5]:
%%html
<style type='text/css'>
.CodeMirror{
font-family: 'JetBrainsMono';
</style>

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('Investment_Data_Train.xlsx - train_data.csv')

In [8]:
df.head()

,Unnamed: 0,MSN,StateCode,Year,Amount,State,CO2 Emissions (Mmt),TotalNumberofInvestments,TotalAmountofAssistance
0,0,BDFDB,AK,2015,21.0,Alaska,35.027804,16.0,3345612.0
1,1,BDPRP,AK,2015,4.0,Alaska,35.027804,16.0,3345612.0
2,2,BFFDB,AK,2015,21.0,Alaska,35.027804,16.0,3345612.0
3,3,BFPRP,AK,2015,4.0,Alaska,35.027804,16.0,3345612.0
4,4,CLPRB,AK,2015,17747.0,Alaska,35.027804,16.0,3345612.0

In [9]:
df1 = pd.read_csv('MSN Codes.xlsx - MSN Codes.csv')

In [10]:
df1.head()

     MSN                                        Description              Unit
0  BDFDB  Biomass inputs (feedstock) to the production o...       Billion Btu
1  BDPRP                               Biodiesel production  Thousand barrels
2  BFFDB  Biomass inputs (feedstock) to the production o...       Billion Btu
3  BFPRP                                Biofuels production  Thousand barrels
4  CLPRB                                    Coal production       Billion Btu